test/**/*
*/**/test/
*/**/test.*

Scripts
Lib
Include
pyvenv.cfg
share
node_modules
.env
package-lock.json
yarn.lock
pnpm-lock.yaml


pyvenv/**/*
*/**/embed_model.*
*/**/model.*

venv/
*.pyc
__pycache__/
